.border {
    display: grid;
    /*place-items: center;*/
    /*min-height: 200px;*/
    border: 8px solid;
    padding: 1rem;
    column-gap: 10px;
    row-gap: 20px;
    grid-template-columns: auto auto auto;
}

.grid-title {
    grid-row-start: 1;
    grid-row-end: 4;
}

.grid-container {
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-button {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 150px;
    height: 40px;
    max-height: 40px;
}

.grid-button-download {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100px;
    height: 20px;
    max-height: 40px;
    margin-right: 10px;
}

.grid-inputs {
    width: 150px;
}

.reporting-format-div thead {
    background-color: #333;
    color: white;
}

.reporting-format-div input {
    margin-left: 20px;
}

.reporting-format-div table {
    border-collapse: collapse;
    border: 1px solid black;
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
}

.reporting-format-div th, td {
    border: 1px solid black;
    padding: 8px;
}


.test {
    font-family: "Lucida Console", "Courier New", monospace;
}