.border {
    display: grid;
    /*place-items: center;*/
    /*min-height: 200px;*/
    border: 8px solid;
    padding: 1rem;
    column-gap: 10px;
    row-gap: 20px;
    grid-template-columns: auto auto auto;
}

.grid-title {
    grid-row-start: 1;
    grid-row-end: 4;
}

.grid-container {
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-button {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 150px;
}

.grid-inputs {
    width: 150px;
}

.test {
    font-family: "Lucida Console", "Courier New", monospace;
}