.border {
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    min-height: 200px;
    border: 8px solid;
    padding: 1rem;
}

.full {
    border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
}

.sides {
    border-image: linear-gradient(to left, turquoise, greenyellow) 1 0;
}
.sides-2 {
    border-image: linear-gradient(to bottom, turquoise, greenyellow) 0 1;
}